<form method="POST" action="/articles/<%= @article.id %>">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<h2>Edit This Article</h2>
<p><%= @article.title %></p>
<input id="title" type="text" value=<%= @article.title %> name="article[title]">
<p><%= @article.title %></p>
<input id="content" type="text" value=<%= @article.content %> name="article[content]">
<input type="submit" value="Submit">
</form>